@import url(./variables.css);

* {
    background-color: var(--isabelline);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* HTML ELEMENTS */

body {
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

title {
    display: none;
}

header {
    width: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
}

header nav {
    height: 80px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

header a {
    text-decoration: none;
}

section {
    margin-bottom: 50px;
    max-width: 780px;
}

/* article {
    margin-bottom: 20px;
} */

h1 {
    color: var(--coral);
    font-family: 'Young Serif';
    font-size: 6rem;
    text-align: center;
}

h2 {
    color: var(--tiffany);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 24px;
}

h3 {
    color: var(--tiffany);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;

}

p {
    line-height: 1.65;
}

a {
    color: var(--lapis);
}

ul {
    list-style-type: none;
}

footer {
    position: relative;
    top: 0;
    margin: 0 auto;
}

/* CLASSES */

.presentation {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 0;
}

.presentation ~ section {
    margin-bottom: 130px;
}

.presentation p {
    text-align: center;
    margin-bottom: 9px;
}

.profession {
    margin: 41px;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.icon-container {
    position: relative;
    top: 44px;
}

.icon-container span {
    margin: 0 15px;
    font-size: 50px;
    color: var(--yellow);
    -webkit-text-stroke: 1px black;
    transition-property: color, font-size;
    transition-duration: .3s;
}

.icon-container span:hover {
    color: var(--lapis);
    font-size: 55px;
}

.about-me p {
    width: 100%;
}

.academic-list ul {
    padding-left: 1.2em;
}

.academic-list li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px;
}

.academic-img {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 15px;
}

.academic-description p:first-child {
    font-weight: 700;
}

.more-about-me ul {
    list-style-type: disc;
    margin-left: 5%;
}

.more-about-me ul li {
    margin-bottom: 10px;
}

.more-about-me ul li::marker{
    color: var(--coral)
}

.academic-list, .more-about-me {
    margin: 80px 0;
}

.project-card {
    height: 300px;
    width: 300px;
    border: 1px solid;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.project-card img {
    height: 100px;
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
}

.project-description {
    text-align: center;
}

.skill-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.skill-list p {
    text-transform: uppercase;
    margin: 7px 0;
    text-align: center;
}

.skill-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
    height: 68px;
    width: 76px;
}

.skill-list span {
    font-size: 40px;
}   
/* RESPONSIVE */

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }

    .academic-img {
        height: 60px;
        width: 60px;
        border-radius: 15px;
    }

    .academic-description {
        width: 25ch;
    }
}